@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[2.3rem];
  }
  h3 {
    @apply text-[20px];
  }
  body {
    @apply font-sans bg-second text-[1rem];
  }
}

@layer mycv {
  .cv-sidebar {
    @apply h-[100vh] w-[250px] fixed text-center;
  }

  .cv-container {
    @apply h-[100vh] pl-[18rem] pr-[2.5rem] pt-[2.5rem];
  }

  .marquee-container {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
  }

  .marquee-content {
    display: inline-block;
    animation: marquee 12s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .certificate-list .swiper-slide {
    width: 320px;
    height: auto;
  }

  .star-icons {
    @apply h-[15px];
  }
}

@layer components {
  .container-1280 {
    max-width: 1280px;
    @apply mx-auto;
  }

  .movie-list .swiper-slide {
    width: 320px;
    height: auto;
  }

  .banner .swiper {
    height: 100%;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-items-center {
    @apply flex items-center;
  }
  .image {
    @apply w-full h-full object-cover;
  }
}
