@tailwind base;
@tailwind components;
@tailwind utilities;

// define variable
$dashboard-bg: "https://images.unsplash.com/photo-1674231262658-9a98bc841270?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1772&q=80";

@layer base {
  body {
    @apply font-sans bg-second text-[1rem];
  }
}

@layer components {
  /* 01: ========================================== DASH BOARD ==========================================*/

  #dashboard {
    background-image: url($dashboard-bg);
    @apply flex-items-center h-[100vh];
  }

  .dashboard-container {
    max-width: 800px;
    @apply mx-auto bg-gradient-to-r from-second to-[#e9ecf8] p-[30px] text-[1rem] rounded-xl;
  }

  .dashboard-avatar:hover img {
    transform: scale(1.3);
  }

  .dashboard-avatar img {
    transition: trannsform 0.1s;
  }

  .dashboard-social .icon {
    @apply block h-[60px] w-[60px] rounded-full shadow-md p-[10px] bg-[#f1f1f2] mb-1;
  }

  .dashboard-projects .project {
    @apply mb-2 rounded-lg shadow-md h-[3rem] flex-center;
  }

  /* 02: ========================================== MY CV ==========================================*/
  .cv-fixed-border {
    @apply border-[1px] border-solid border-[#565656] rounded-[30px] fixed;
  }

  #cv-sidebar {
    @apply cv-fixed-border;
  }

  .cv-list-icon-skills {
    font-size: 50px;
  }

  .cv-main-container {
    @apply max-w-[1130px] px-[15px] m-auto;
  }

  .cv-main-section-container {
    @apply w-full max-w-[770px] ml-auto relative z-[3];
  }

  .menu-icon-link {
    transition: transform 0.3s;
    @apply flex-center relative w-[55px];
  }

  .menu-scroll li a:hover span,
  .menu-icon-link:hover span {
    opacity: 1;
    visibility: visible;
  }

  .menu-icon-title {
    @apply absolute right-[100%] block rounded-[5px] pt-[3px] px-[8px] text-[12px] bg-[#404042] text-[#fff] visible opacity-0;
  }

  .menu-icon-title::before {
    content: "";
    transform: rotate(54deg) skew(-8deg, -39deg);
    z-index: -1;
    @apply absolute top-[50%] right-[-3px] w-[10px] h-[10px] bg-[#404042] mt-[-5px];
  }

  .capitaStar-card::before {
    content: "";
    background-color: #656565;
    width: 12px;
    height: 12px;
    position: absolute;
    left: -5px;
    top: 7px;
    border-radius: 50%;
    transition: 0.3s;
  }

  .capitaStar-card::after {
    content: "";
    background-color: #333333;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;
  }

  /* 03: ========================================== MY MOVIE ==========================================*/

  .container-1280 {
    max-width: 1280px;
    @apply mx-auto;
  }

  .movie-list .swiper-slide {
    width: 320px;
    height: auto;
  }

  .banner .swiper {
    height: 100%;
  }

  .certificate-list .swiper-slide {
    width: 320px;
    height: auto;
  }

  .star-icons {
    @apply h-[16px];
  }

  #my-todo {
    @apply container-1280;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex-center flex-col;
  }

  .flex-items-center {
    @apply flex items-center;
  }

  .flex-col-items-center {
    @apply flex-items-center flex-col;
  }

  .image {
    @apply w-full h-full object-cover;
  }

  .image-circle {
    @apply image rounded-full;
  }
}
